
body {
    font-family: 'Libre Baskerville', serif;
    background-color: #236c55;
    /* background: linear-gradient(
        to right,
        #a31c1c,
        #601919
    ); */
    color : #ffffff;
    margin: 30px;
    padding: 20px;
    /* text-align: left; */
}


header {
    text-align: left;
    margin: 20px;
    padding-bottom: 25px;
    /* border-bottom: 1px solid white; */
    font-style: italic;
    font-size: 50px;
}

#container {
    display : flex;
    flex-wrap: wrap;
    
}

#container > div{
    width:200px;

}


/* #contact, #fav {
    background-color: #ffffff;
    color: #236c55; 
} */

h1 {
    /* border-bottom: 2px solid #ffffff; */
    font-weight: lighter;
    font-size: 100px;
    margin-right: 50px;
    /* padding-bottom: 0px; */
}

h2 {
    font-weight: lighter;
    font-size: 40px;
}

p, a, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

#middle {
    text-align: center;
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    /* max-width: 30%; */
  }
