
body {
    font-family: 'Libre Baskerville', serif;
    background-color: #236c55;
    color : #ffffff;
    margin: 5%;
    padding: 5%;
}


header {
    text-align: left;
    padding-bottom: 25px;
    font-style: italic;
    font-size: 50px;
}

#container {
    display : flex;
    flex-wrap: wrap;
    
}

#container > div{
    width:200px;

}


h1 {
    /* border-bottom: 2px solid #ffffff; */
    font-weight: lighter;
    font-size: 100px;
    /* padding-bottom: 0px; */
}

h2 {
    font-weight: lighter;
    font-size: 40px;
}

p, a, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

#middle {
    text-align: center;
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
  }

#icon {
    width: 100px;
    border-radius: 20px;
}



  @media (max-width:600px){
    header {
        font-size: 25px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-weight: lighter;
        font-size: 25px;
    }

    
    img {
        width: 55%;
        border-radius: 30px;;
    }

    p {
        font-size: 17px;
    }

    a, li {
        font-size: 15px;
    }

    #middle {
        font-size: 12px;
    }

    #icon {
        width: 65px;
        border-radius: 20%;
    }

    #container > div{
        width:30%;
    
    }

  }